# Python virtual env / Conda
Lib/
Library/
Scripts/
Tools/
include/
libs/
share/
etc/
conda-meta/

# Windows binaries
*.dll
*.exe

# Models & data
*.pkl
known_faces/
unknown_faces/

# Python cache
__pycache__/
*.pyc
