# Python cache
__pycache__/
*.pyc
*.pdb

# Conda / Python environment (DO NOT push)
conda-meta/
DLLs/
etc/
include/
Lib/
Library/
libs/
Scripts/
share/
Tools/

# Executables & DLLs
python.exe
pythonw.exe
*.dll

# DeepFace models
*.pkl
*.h5

# Face data
known_faces/*
unknown_faces/*
